*, ::before, ::after {
  box-sizing: border-box;
}


:host {
  display: grid;
  grid-template:
    "video video" 1fr
    "play search" auto / auto 1fr;

  gap: 5px;


  inline-size: fit-content;
}


canvas {
  grid-area: video;


  object-fit: scale-down;
  inline-size: 100%;
  block-size: 100%;


  background-color: black;
}
button {
  grid-area: play;


  &::before {
    content: "";


    border: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent currentcolor;

    block-size: 14px;
    inline-size: 12px;

    display: inline-block;


    transition: border 0.1s;
  }
  &[aria-checked="true"]::before {
    border-width: 0 4px;
    border-inline-end-color: currentcolor;
  }
}
input[type="range"] {
  grid-area: search;
}
