*, ::before, ::after {
  box-sizing: border-box;
}


:host {
  display: grid;
  grid-template:
    "video video" 1fr
    "play search" auto / auto 1fr;

  gap: 5px;
}


canvas {
  grid-area: video;


  object-fit: scale-down;
  inline-size: 100%;
  block-size: 100%;


  background-color: black;
}
button {
  grid-area: play;
}
input[type="range"] {
  grid-area: search;
}
